h1,h2,h3,h4{font-size:15px;line-height:5px;}

.floatLeft{position:relative;float:left;}
.clearBoth{clear:both;}

#ants{font-size:12px;height:25px}

.ant{border:1px greenyellow solid;margin-bottom:10px;}
.antType{width:60px}
.antHealth{width:60px}
.antStatus{width:55px}

.colourSoldier{color:red;}
.colourQueen{color:orange;}
.colourWorker{color:blue;}
.colourDead{color:grey;}

.marginRight20{margin-right:20px;}
.submitWidth{width:120px;height:21px;font-size:12px;}

.strike{text-decoration:line-through;}